a{
    text-decoration: none;
    color:black;
}
h1{
    text-align: center;
    border-bottom: 5px black solid;
    font-size: 800%;
    padding-bottom: 30px;
    margin-bottom:0;
    margin-top:35px;
}
#list{
    font-size:300%;
    padding:20px;
}
#list ul a{
    text-decoration: underline;
}
#list p{
    font-size:50%;
}
#details{
    font-size:300%
}
#details p{
    font-size:50%;
}
#images img{
    border-radius:50%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}